.tableFixHead thead {
    position: sticky;
    top: 0;
}

.tableFixHead {
    overflow-y: auto;
    height: 600px;
}

.stw0 {
    background-color: #ff4da6;
    color: #FFF !important;
}

.stw0 td a{
    color: #FFF !important;
}

.ml--60{
    margin-left: -60px !important;
}

.ml--105{
    margin-left: -105px !important;
}

.tdsatker {
    background-color: #eee6ff;
}

.tdprogram {
    background-color: gold;
}

.tdgiat {
    background-color: #9bc2e6;
}

.tdoutput {
    background-color: #ddebf7;
}

.tdsoutput {
    background-color: #ffff;
}

.tdkomponen {
    background-color: #aa80ff;
}

.bg-purple {
    background-color: #68218b;
    color: #fff;

}

/* Scroll */
::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: #5867dd;
}
/* end Scroll */

/* background  */
.bg-light-primary{
    color:#5867dd;
    background:rgba(88, 103, 221, .1);
    border-color: transparent;
}
/* end background  */

/* select2  */
.select2-container {
    display: block !important;
}

.select2-container .select2-selection--single {
    height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 37px !important;
}
/* end select2  */

/* custom sidebar  */
@media (min-width: 1025px) {
    .kt-aside--minimize .kt-aside {
        width: 80px;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }
}

.kt-aside-menu .kt-menu__nav>.kt-menu__item>.kt-menu__link{
    padding: 9px 15px;
}

.kt-aside .kt-aside-menu {
    margin: 0px 0;
}
/* end custom sidebar  */


