.tableFixHead thead {
    position: sticky;
    top: 0;
}

.tableFixHead thead th{
    /* border: 1px solid #333; */
    /* border-block: none; */
    /* border-width: 0; */
    
}

.tableFixHead {
    overflow-y: auto;
    height: 600px;
}

.stw0 {
    background-color: #ff4da6;
    color: #FFF !important;
}

.stw0 td a{
    color: #FFF !important;
}

.ml--60{
    margin-left: -60px !important;
}

.ml--105{
    margin-left: -105px !important;
}

.tdsatker {
    background-color: #eee6ff;
}

.tdprogram {
    background-color: gold;
}

.tdgiat {
    background-color: #9bc2e6;
}

.tdoutput {
    background-color: #ddebf7;
}

.tdsoutput {
    background-color: #ffff;
}

.tdkomponen {
    background-color: #aa80ff;
}

.bg-purple {
    background-color: #68218b;
    color: #fff;

}

/* Scroll */
::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 5px solid transparent;
    background-clip: content-box;
    background-color: #8070d4;
}
/* end Scroll */